h1{
    text-align:center;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-size: 50px;
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border:1px solid #000;
    border-radius: 10px;
    width:75px;
    height:75px;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.8);
    color:#333;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
    cursor:pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn:disabled {
    color: #000; 
    cursor: no-drop; 
}

.result-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid #fff; 
    text-align: center; 
    max-width: 200px; 
    margin: 20px auto; 
    padding: 10px; 
}

.result {
    color: #fff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    font-size: 25px; 
}

.reset-section {
    text-align: center; /* Centered reset section */
}

/* Reset Button Styling */
.reset-button {
    border: 1px solid #000; /* Black border for reset button */
    color: #000; /* Black text color for reset button */
    cursor: pointer; /* Cursor style */
    padding: 5px 10px; /* Padding for spacing */
    margin: 10px; /* Margin for spacing */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Reset Button Hover Styling */
.reset-button:hover {
    background-color: #000; 
    color: #fff; 
}
